<div>
    <h1 class="text-center">Login</h1>

    <form class="col-md-6 offset-md-3" method="POST">
        {{> errors}}
        <div class="mb-3">
            <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email address</label>
            <input type="email" class="form-control" id="email" name="email" value={{email}}>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><i class="fas fa-key"></i> Password</label>
            <input type="password" class="form-control" id="password" name="password" value={{password}}>
        </div>
        <div class="row justify-content-around mt-5 px-2">
            <button type="submit" class="btn btn-primary col-12 col-md-5 my-2 mx-1"><i
                    class="far fa-envelope"></i>
                Login with email</button>
            <a href="/auth/facebook" class="btn btn-facebook col-12 col-md-5 my-2 ml-2"><i
                    class="fab fa-facebook-f"></i> Login with
                Facebook</a>
        </div>
    </form>
</div>