<div>
    <h1 class="text-center">{{title}}</h1>

    <form class="col-md-6 offset-md-3 justify-content-end" method="POST">
        {{> errors}}
        <!-- name -->
        <div class="mb-3">
            <label for="name" class="form-label"><i class="fas fa-user"></i> Name</label>
            <input type="text" class="form-control" id="name" name="name" value={{name}}>
        </div>

        <!-- email -->
        <div class="mb-3">
            <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email address</label>
            <input type="email" class="form-control" id="email" name="email" value={{email}}>
        </div>

        <!-- password -->
        <div class="mb-3">
            <label for="password" class="form-label"><i class="fas fa-key"></i> Password</label>
            <input type="password" class="form-control" id="password" name="password" value={{password}}>
        </div>

        <!-- confirm password -->
        <div class="mb-3">
            <label for="confirm_password" class="form-label"><i class="fas fa-key"></i> Confirm password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
        </div>

        <div class="row mt-2 justify-content-around px-2">
            <button type="submit" class="btn col-12 col-md-5 btn-primary my-2 mx-1 "><i class="far fa-envelope"></i> Sign Up with email</button>

            <a href="/auth/facebook" class="btn col-12 col-md-5 mx-1 btn-facebook my-2 ml-2"><i class="fab fa-facebook-f"></i> Sign Up with
                Facebook</a>
        </div>
    </form>
</div>