/* ==========================================================================
  root
========================================================================== */
:root {
  --color-background: whitesmoke;
  --color-hover: lightblue;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%),
    inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

/* ==========================================================================
  body 
========================================================================== */
.Body {
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--color-background);
  font-family: var(--bs-font-sans-serif);

  color: #212529;
}

/* ==========================================================================
  header & navbar 
========================================================================== */
.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--color-hover);
}

navbar-toggler-icon {
  color: white;
}

/* ==========================================================================
  buttons
========================================================================== */
.btn-facebook {
  background-color: #183153;
  color: white;
}

.btn-facebook:hover {
  background-color: #3578e5;
}

/* ==========================================================================
  Codemirror
========================================================================== */
.CodeMirror {
  height: 600px;
}

/* ==========================================================================
  Videos
========================================================================== */
#my-video {
  margin: 0 auto;
  margin-top: 15px;
  width: 280px;
  height: auto;
  background-color: #eee;
}

#remote-video {
  width: 100%;
  height: 75%;
  max-height: 480px;
  background-color: #eee;
}

#video-container {
  text-align: center;
}

#step1-error,
#step2,
#step3 {
  /* display: none; */
}

#my-id {
  font-weight: bold;
}

/* ==========================================================================
  footer
========================================================================== */
