/* ==========================================================================
  root
========================================================================== */
:root {
  --color-background: whitesmoke;
}

/* ==========================================================================
  classes 
========================================================================== */
.Body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--color-background);
}

.nav-link{
  color: white;
}