/* ==========================================================================
  root
========================================================================== */
:root {
  --color-background: whitesmoke;
  --color-hover: lightblue;
}

/* ==========================================================================
  body 
========================================================================== */
.Body {
  min-height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--color-background);
}

/* ==========================================================================
  header & navbar 
========================================================================== */
.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--color-hover);
}

/* ==========================================================================
  footer
========================================================================== */

