<div>
    <h1 class="text-center">About RT-Coding</h1>
    <p>This is a NodeJS project where you can share your code with other developers in real-time (using SocketIO), also
        you can chat and activate your webcam. Ideal for code interviews. The project uses Express as a Web Server.</p>
</div>