<div class="col-xxl-8 px-1 py-2 justify-content-center">
  {{#if user}}
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Create a Task</h1>
      <p class="col-md-8 fs-4">Click on the button and share the link with with your friends and colleagues.</p>
      <form action="/task" method="post">
        <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-plus-circle"></i> Share code now</button>
      </form>
    </div>

  </div>
  {{else}}
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">

      <lottie-player width="700" height="500" loading="lazy" class="d-block mx-lg-auto img-fluid"
        src="https://assets2.lottiefiles.com/packages/lf20_gb5bmwlm.json" background="transparent" speed="1"
        style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    </div>
    <div class="col-lg-6">
      <h1>Chat and share your code with other developers in real-time.</h1>
      <p class="lead">Ideal for code interviews, troubleshooting, teaching and more. This project uses Express as a Web
        Server and
        Operational Transformation for Collaborative Editing.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <form action="/task" method="post">
          <button class="btn btn-primary btn-lg" type="submit"><i class="fas fa-plus-circle"></i> Share code
            now</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{#section 'script'}}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{{/section}}