<div>
    <h1>Task</h1>
    <div class="row">
        <div class="col-md-8">
            <textarea class="d-none" name="code-screen" id="code-screen"></textarea>
        </div>
        <div class="col-md-4" id="chatbox">

        </div>
    </div>

</div>

{{#section 'link'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/theme/monokai.min.css"
    integrity="sha512-R6PH4vSzF2Yxjdvb2p2FA06yWul+U0PDDav4b/od/oXf9Iw37zl10plvwOXelrjV2Ai7Eo3vyHeyFUjhXdBCVQ=="
    crossorigin="anonymous" />
{{/section}}

{{#section 'script'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.js"
    integrity="sha512-hc0zo04EIwTzKLvp2eycDTeIUuvoGYYmFIjYx7DmfgQeZPC5N27sPG2wEQPq8d8fCTwuguLrI1ffatqxyTbHJw=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/keymap/sublime.min.js"
    integrity="sha512-tKUdXq4laeUDT//Pnls3DjHSmGvX2u97cNFecqNWSLjcV+J0PKwjLFBQXcYxPx9ilaNcegMNo1c0hrpRGvy1kA=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/mode/javascript/javascript.min.js"
    integrity="sha512-isTDQTpVc8nKKMQmhm0b6fccRPjzo2g0q6l2VLy9/jDn5s8bEUu9WuSGkkAfN/NCwI3+Qi5wEVCaPRoWvT6YPw=="
    crossorigin="anonymous"></script>
<script src="https://codemirror.net/addon/hint/javascript-hint.js"></script>
<script>

    window.onload = function () {
        var txtArea = document.getElementById("code-screen");
        txtArea.classList.remove("d-none");
        var myCodeMirror = CodeMirror.fromTextArea(txtArea, {
            lineNumbers: true,
            theme: "monokai",
            extraKeys: { "Ctrl-Space": "autocomplete" },
            autocorrect: true,
            mode: { name: "javascript", globalVars: true },
        })
    }


</script>
{{/section}}